.my-total-reader {
  align-items: center;
  text-align: center;
}

.bottom-div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.player-info {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root {
  min-height: 100vh;
  background-image: url("../src/images/total.jpg");
}

.my-header {
  padding-top: 15px !important;
  color: black !important;
  font-size: 54px !important;
  max-width: 50vw;
  position: relative;
  left: 25vw;
  font-weight: bolder;
  border-radius: 72px;
}

.info-header {
  font-weight: bold;
  border-color: transparent !important;
  padding: 3px !important;
}

.info-name {
  font-size: 30px !important;
}

.info-header-mark {
  background-color: yellow !important;
  border-color: yellow !important;
  font-weight: bold;
  padding: 3px !important;
}

.my-field {
  display: flex;
  justify-content: center;
  margin-top: 25px !important;
}

.place {
  margin: 7px !important;
  font-family: monospace !important;
}

.my-card {
  min-width: 25vw;
  margin: 15px !important;
  background-color: transparent !important;
  border: unset !important;
  text-align: center !important;
}

.my-button {
  min-width: 70px !important;
  margin: 5px !important;
}

.my-input {
  max-width: 935px !important;
}
